body{
    margin: 0;
    font-family: "Work Sans";
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;

}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 0 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header img {
    margin-left: 20px;
    padding-top: 10px;
}

header button {
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    background-color: #f04521;
}

header button:hover {
    padding: 12px 20px;
    border: none;
    background-color: #092b1a;
    transition: 0.5s;
    cursor: pointer;
}

header button a{
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: transparent;
}

header.scrolled {
    background-color: #f4c542;
    height: 110px;
}

header.scrolled .nav-links a {
    color: #092b1a;
}

header.scrolled .nav-links a:hover {
    color: #f04521;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 50px;/* Space between button and icon */
}
.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.nav-btn{
    font-size:16px ;
    padding: 13px;
    width: 90px;
    font-family: "Work Sans";
}

/* Responsive Styles */
@media (max-width: 768px) {

    header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: row;
        width: 100%;
        position: absolute;
        left: 0;
        padding: 15px 0;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    top: 60px;
    padding: 10px;
    border-radius: 5px;
    gap: 30px;
      z-index: 3000;
  position: absolute;
}
    

    .nav-links.active {
        display: flex;
    }
     .nav-links.show {
    display: flex; /* shows horizontally inside header */
  }

    header ul li {
        margin: 10px 0;
        text-align: center;
    }

    header button {
        margin: 10px auto;
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    60% {
        opacity: 1;
        transform: translateX(-30px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




@keyframes moveup {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* optional: a little slide-in */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.donate-section {
  position: relative;
background-image: url('/images/IMG-20250814-WA0015.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
  animation: fadeIn 1.5s ease-in-out forwards;
animation-delay: 0.5s;
opacity: 0;
padding-bottom: 60px;
}
.close {
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover {
  color: #f44336;
  cursor: pointer;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* black overlay */
  z-index: 1;
}

.hidden{
    display: none;
}
.div1{
    color:white;
  position: relative;
  inset: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 2;
}
.div1 h2{
    font-size: 50px;
    padding-top: 120px;
    text-align: center;
}
.div1 h3{
    font-size: 30px;
    margin-top: -30px;
    text-align: center;
}
.donate-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
  /* Button to open modal */
.open-modal-btn{
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  justify-content: center;
  width: 120px;
}
.open-modal-btn:hover{
  background-color: rgb(2, 53, 2);
  color: white;
  transition: background-color 0.3s ease;
}
  /* Modal overlay */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 20px;
   animation: moveup 0.5s linear forwards;
    opacity: 0;
    animation-delay: 0s;
    animation-duration: 1s;
    
  }

  /* Modal content box */
  .modal-content {
    background-color: beige;
    width: 100%;
    max-width: 380px;
    border-radius: 10px;
    padding: 40px 20px 20px 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    border-radius: 30px;
    color: coral;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
     max-height: 85vh; 
  }
.modal-content h2{
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}
 .modal-content input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 300px;
    margin: 10px;
  }
  .modal-content select{
    width: 320px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 2vh;
    border-color: rgb(184, 182, 182);
    margin: 10px;
  
  }
  .modal-content label{
    margin-left:10px ;
  }
  .modal-content textarea{
    width:320px ;
    margin: 10px;
    height: 150px;
    border-radius: 10px;
  }
  /* Close button */
  .close-modal-btn {
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    font-size: 14px;
    width: 70px;
    margin-left: 10px;
    transition: 0.3s ease;

  }
  .close-modal-btn:hover {
    color:white;
    background-color: black;
  }
  .div-btn{
    gap: 170px;
    display: flex;
  }
.div-btn [type="submit"]{
border-radius: 10px;
padding: 10px;
border: 1px solid black;
transition: 0.3s ease;
}
.div-btn [type="submit"]:hover{
     background-color: coral;
     color: white;
     
}
  /* Form styling */


  /* Mobile-friendly */
  @media (max-width: 600px) {
    .modal-content {
      padding: 15px;
    }
  }

/* footer */
.footer {
    background-color: #092b1a;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    z-index: 3;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    flex: 1 1 200px;
    margin-left: 30px;
    cursor: pointer;
    line-height: 20px;
}

.footer-column :hover {
    color: coral;
}


.footer-column h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffff00;
    text-decoration: none;
    font-size: 15px;
}

.footer-column ul li a:hover {
    color: #ff7f50;
}

.footer-column p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffff00;
    cursor: pointer;
    line-height: 20px;
}

.footer-column p :hover {
    color: coral;
}

.footer-column p a{
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffff00;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}
.footer-column p a:hover{
    color: coral;
}
.social-icons{
    display: flex;
}
.social-icons a {
    margin-right: 20px;
    color: white;
    font-size: 16px;
    background-color: #092b1a;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 8px;
    cursor: pointer;
}
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    color: #4CAF50;
    cursor: pointer;
}

.footer-bottom:hover {
    color: coral;
}

/* responsiveness-for-small-phones */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin: 20px 0;
    }

    .social-icons a {
        margin: 5px;
    }
}