@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Lobster&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Work Sans";
    font-weight: 400;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;

}



header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 0 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header img {
    margin-left: 20px;
    padding-top: 10px;
}

header button {
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    background-color: #f04521;
}

header button:hover {
    padding: 12px 20px;
    border: none;
    background-color: #092b1a;
    transition: 0.5s;
    cursor: pointer;
}

header button a {
    text-decoration: none;
    color: #fff;
}


header.scrolled {
    background-color: #f4c542;
    height: 110px;
}

header.scrolled .nav-links a {
    color: #092b1a;
}

header.scrolled .nav-links a:hover {
    color: #f04521;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Space between button and icon */
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-btn {
    font-size: 16px;
    padding: 13px;
    width: 90px;
    font-family: "Work Sans";
    margin: 15px;
}

 .nav-links {
    list-style: none;
   margin: 25px 0px 0px 0px;
    display: flex;
    gap: 20px;
}

 
.member-section {
    position: relative;
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-bottom: 60px;
    overflow: hidden;
    animation: slideInFromLeft 5s linear forwards;
    opacity: 0;
    animation-duration: 2s;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* black overlay */
    z-index: 1;
}

/* Responsive Styles */
@media (max-width: 600px) {

    header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: row;
        width: 100%;
        position: absolute;
        left: 0;
        padding: 15px 0;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        top: 50px;
        padding: 10px;
        border-radius: 5px;
        gap: 30px;
        z-index: 3000;
        position: absolute;       
        margin-left: -40px;  /* reset the negative shift */
        align-items: center;     /* center vertically */
    
    }


    .nav-links.active {
        display: flex;
    }

    .nav-links.show {
        display: flex;
        /* shows horizontally inside header */
    }

    header ul li {
        margin: 10px 0;
        text-align: center;
    }

    header button {
        margin: 10px auto;
    }

    body {
        font-size: 15px;
    }

    .member-section {
        padding: 40px 20px;
        min-height: auto;
        background-position: top;
    }

    .h2 {
        font-size: 28px;
        padding: 40px 20px 20px;
        line-height: 1.3;
    }

    .div5 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}



@media (max-width: 480px) {
    .h2 {
        font-size: 22px;
        padding: 30px 10px;
    }

    .div1,
    .div2 {
        width: 90%;
        margin: 10px auto;
        font-size: 16px;
    }

    textarea {
        width: 100%;
    }
    
}


    .div-label button {
        margin: 20px auto;
        display: block;
        width: 70%;
    }



/*Keyframes*/
@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    60% {
        opacity: 1;
        transform: translateX(-30px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveup {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




form {
   width: 80%;
   max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    text-align: justify;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    animation: moveup 3s linear forwards;
    opacity: 0;
    animation-duration: 2s;
    border-radius: 30px;
}

.p1 {
    font-size: 15px;
    animation-delay: 2s;
    transform: translateY(30px);
    animation: moveup 2s linear forwards;
    opacity: 0;
    animation-duration: 2s;
    text-align: center;
}

.div1 {
    background-color: coral;
    padding: 5px;
    max-width: 40%;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
}

.div2 {
    text-align: center;
    width: 40%;
    margin: 10px auto;
    padding: 1px;
    font-size: 20px;
    transform: translateY(30px);
    animation: moveup 2s linear forwards;
    opacity: 0;
    animation-duration: 1s;
}

.div5 {
    color: white;
    position: relative;
    inset: 0;
    z-index: 2;
    text-align: center;
    padding: 80px 20px;

}

.h2 {

    color: white;
    font-size: 3.5em;
    text-align: center;
}

textarea {
    width: 70%;
    height: 150px;
    margin: 15px 0px 0px 35px;
    border-radius: 8px;

}

/*Donate-btn*/
.donate-btn a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    transition: color 0.3s ease;
}

.donate-btn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
}

.donate-btn button {
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.donate-btn button:hover {
    background-color: #092b1a;
}



.div-label {
    margin: 40px;
}

.div-label label {
    padding: 0px 0px 0px 30px;
    font-weight: 600;
    font-size: 18px;
}

.div-label select {
    width: 59%;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    margin-left: 20px;
    border-color: coral;
    border-width: 2px;
}

.div-label input {
    width: 55%;
    padding: 10px;
    border-radius: 30px;
    border-color: coral;
    margin: 20px;
}



.div-check label {
    display: flex;
    align-items: center;
    gap: 5px;
    /* space between checkbox and text */
    font-size: 16px;
}

.div-check input[type="checkbox"] {
    padding: 10px;
    width: 18px;
    height: 18px;
}

.div-check div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}

.div-type h4 {
    margin: 10px 0px 0px 35px;
    font-weight: 750;
    font-size: 20px;
}


.div-type button {
    padding: 10px;
    width: 90px;
    margin: 20px 0px 0px 82%;
    border-radius: 10px;
    background-color: white;
}

.div-type button:hover {
    background-color: #092b1a;
    color: white;
    border-color: white;
}

.h4 {
    font-size: 22px;
    margin: 10px 0px 0px 30px;
}



/* footer */
.footer {
    background-color: #092b1a;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    z-index: 3;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    flex: 1 1 200px;
    margin-left: 30px;
    cursor: pointer;
    line-height: 20px;
}

.footer-column :hover {
    color: coral;
}


.footer-column h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffff00;
    text-decoration: none;
    font-size: 15px;
}

.footer-column ul li a:hover {
    color: #ff7f50;
}

.footer-column p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffff00;
    cursor: pointer;
    line-height: 20px;
}

.footer-column p :hover {
    color: coral;
}

.footer-column p a {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffff00;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none;
}

.footer-column p a:hover {
    color: coral;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-right: 20px;
    color: white;
    font-size: 16px;
    background-color: #092b1a;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 8px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    color: #4CAF50;
    cursor: pointer;
}

.footer-bottom:hover {
    color: coral;
}

/* responsiveness-for-small-phones */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin: 20px 0;
    }

    .social-icons a {
        margin: 5px;
    }
}